.navbarContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerTitle {
  padding-right: 0px;
}

.navbarItem {
  padding-left: 40px;
}

.navbarLeft {
  padding: 0;
}
.navbarRight {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.navbarLink {
  color: inherit;
  text-decoration: none;
}

.mainTitle {
  font-size: 40px;
}
